.buttons{
    position:absolute;
    right: 10%;
    background-color: white;
}

.button1{  
    background-color: blue;
}
.button2{
    background-color: blue;
}
.signup{
    background-color: white;
    text-align: center;
    margin-top: 40px;
    margin-right: 400px;
    margin-left: 400px;
}
.submit{
    font-size: 16px;
    padding: 20px 20px;
}
.navbar{
    width:50%
}